.container_contact{
    display: inline-block;
    justify-content:flex-start;
    margin: 60px 0px 0px 150px;  
  form{
      background-color: rgba(255, 255, 255, 0.774);
      text-align: center;
      padding: 40px;
      max-width: 300px;
      border-radius: 30px;
      label{
        display:block;
        padding: 5px;
        color: grey;
        font-family: "nunito";
        font-size: 16px;
        letter-spacing: 0.5px;
      }
      input{
        display:inline-block;
        width: 300px;
        margin: 10px 0 10px 0;
        padding: 10px;
        border-style: none;
      }
      button{
        display: inline-block;
        text-align: center;
        background-color: rgba(93, 191, 216, 0.822);
        color: white;
        font-size: 18px;
        font-family: "nunito";
        letter-spacing: 05px;
        padding: 15px;
        width: 300px;
        margin-top: 20px;
        border-style: none;
      }   
    }
}